span.sort-icon {
    background: #dad2d2;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 7px;
    border-right: 2px solid #fff;
    cursor: move;
}
#accordion h3.ui-accordion-header {
    background: #e0d8d8;
    color: unset;
    padding: 11px 60px;
    position: relative;
    cursor: pointer;
}
#accordion .ui-state-active .ui-icon, #accordion .ui-button:active .ui-icon {
    background-image: url(../img/down-arrow.png);
    height: 24px;
    width: 27px;
}
#accordion .ui-icon,#accordion .ui-widget-content .ui-icon {
    background-image: url(../img/right-arrow.png);
    height: 24px;
    width: 27px;
}
#accordion .ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: absolute;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    right: 1px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #006699;
}
input:focus + .slider {
  box-shadow: 0 0 1px #006699;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}